.loanHistoryList {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
}

.loanHistoryItem {
  width: 100%;
  min-height: 2rem;
  padding: 0.6rem;
  color: var(--text1);
  background: transparent;
  border: 3px solid var(--text1);
  border-radius: 10px;
}

.active {
  border-color: var(--p);
}
