@import url("https://fonts.googleapis.com/css?family=Inter");

* {
  margin: 0;
}

html {
  background-color: black;
}

body {
  font-family: "Inter";
  height: calc(100vh - 6rem);
  aspect-ratio: 595 / 842;
  margin-left: auto;
  margin-right: auto;
  background-color: white;

  padding: 3rem;
}
