* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text1);
  font-family: system-ui, system-ui;
  transition: background 500ms;
}
:root {
  --nav: #272737;
  --bg1: #2d2d3f;
  --bg2: #464660;
  --p: #00c16e;
  --s: #f85a40;
  --text1: #fff;
  --text2: #bebecc;
  --text3: #bebecc;
}
.light {
  --nav: #dddddd;
  --bg1: #ffffff;
  --bg2: #e6e6e6;
  --p: #00c16e;
  --s: #f85a40;
  --text1: #303033;
  --text2: #8f9192;
  --text3: #303033;
}
h1 {
  color: var(--text1);
}
