{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react.*",
    "^@components/(.*)$",
    "^@pages/(.*)(?<!index|new|edit)$",
    "^@pages/(.*)/index$",
    "^@pages/(.*)/edit$",
    "^@pages/(.*)/new$",
    "^@(services|features|utils|helpers|redux|hooks|helpers|data)/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]",
    "^@styles/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
